mat-toolbar {
  background-color: rgb(28, 28, 192);
  color: rgb(255, 255, 255);
}

mat-toolbar-row,
mat-toolbar {
  height: 57px;
  min-height: 57px;
  border-bottom: 1px solid rgb(28, 28, 192);
}

.mat-drawer-container {
  height: 100dvh;
}

.mat-drawer-side {
  border-right-color: gray;
}

.mat-drawer {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.menu-icon {
  cursor: pointer;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding-inline: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;

    mat-icon {
      margin-right: 16px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:focus {
      outline: none;
    }
  }
}

.sidenav {
  width: 300px;
}

.logo-container {
  padding-inline: 16px;
  min-height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.router-container {
  padding-left: 56px;
  padding-top: 16px;
}
