<mat-card class="user-detail-header">
    <img src="../../../img/profile.png" alt="user profile image">
    <div class="user-details">
        <h2>Max Mustermann</h2>
        <p>max&#64;mustermann.de</p>
    </div>
</mat-card>

<mat-card class="mt-32 user-address">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Street: Musterstraße 1</p>
        <p>City: Musterstadt</p>
        <p>Zip: 12345</p>
    </mat-card-content>
</mat-card>